<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-2">
    <% Doctor.tag_counts_on(:tags).each do |tag| %>
      <%= link_to tag.name + ' (' + tag.count.to_s + ')', doctors_path(tag: tag.name), class: 'btn btn-info btn-sm' %>
      <br>
    <% end %>
    <%= link_to "All doctors", doctors_path, class: 'btn btn-warning btn-sm' %>
  </div>
  <div class="col-md-8">
    <div class="panel panel-info">
      <div class="panel-body">
<h1>Listing Doctors</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Doctor</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= link_to doctor.full_name, doctor %></td>
        <td><%= doctor.photo %></td>
        <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
        <td><%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @doctors, class: 'flickr_pagination' %>
<br>

<%= link_to 'New Doctor', new_doctor_path %>
</div></div></div></div>
